In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("E0.csv")

In [4]:
data.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,05/08/2022,20:00,Crystal Palace,Arsenal,0,2,A,0,1,...,1.76,0.50,2.09,1.84,2.04,1.88,2.09,1.88,2.03,1.85
1,E0,06/08/2022,12:30,Fulham,Liverpool,2,2,D,1,0,...,2.73,1.75,1.90,2.03,1.91,2.02,2.01,2.06,1.89,1.99
2,E0,06/08/2022,15:00,Bournemouth,Aston Villa,2,0,H,1,0,...,1.76,0.50,1.93,2.00,1.93,2.00,1.94,2.04,1.88,2.00
3,E0,06/08/2022,15:00,Leeds,Wolves,2,1,H,1,1,...,1.87,-0.25,2.08,1.85,2.10,1.84,2.14,1.87,2.08,1.81
4,E0,06/08/2022,15:00,Newcastle,Nott'm Forest,2,0,H,0,0,...,1.89,-1.00,1.97,1.96,1.99,1.93,2.19,1.97,2.03,1.86

In [5]:
epl = data[['HomeTeam', 'AwayTeam','FTHG', 'FTAG']]
epl = epl.rename(columns={'FTHG': 'HomeGoals', 'FTAG':'AwayGoals'})
print(epl.head())

         HomeTeam       AwayTeam  HomeGoals  AwayGoals
0  Crystal Palace        Arsenal          0          2
1          Fulham      Liverpool          2          2
2     Bournemouth    Aston Villa          2          0
3           Leeds         Wolves          2          1
4       Newcastle  Nott'm Forest          2          0

In [6]:
test = epl[-20:]
epl = epl[:-20]
print(epl[['HomeGoals', 'AwayGoals']].mean())

HomeGoals    1.598174
AwayGoals    1.141553
dtype: float64

In [7]:
from scipy.stats import skellam, poisson
# probability of a draw
skellam.pmf(0.0, epl.HomeGoals.mean(), epl.AwayGoals.mean())
# probability of a win by one goal
skellam.pmf(1.0, epl.HomeGoals.mean(), epl.AwayGoals.mean())

0.23078876992933062

In [8]:
home = epl.iloc[:,0:3].assign(home=1).rename(columns={'HomeTeam':'team', 'AwayTeam':'opponent', 'HomeGoals':'goals'})
away = epl.iloc[:, [1, 0, 3]].assign(home=0).rename(columns={'AwayTeam': 'team', 'HomeTeam': 'opponent', 'AwayGoals': 'goals'})
df = pd.concat([home, away])
print(df)

               team       opponent  goals  home
0    Crystal Palace        Arsenal      0     1
1            Fulham      Liverpool      2     1
2       Bournemouth    Aston Villa      2     1
3             Leeds         Wolves      2     1
4         Newcastle  Nott'm Forest      2     1
..              ...            ...    ...   ...
214       Tottenham      Leicester      1     0
215          Wolves    Southampton      2     0
216       Newcastle    Bournemouth      1     0
217      Man United          Leeds      2     0
218     Aston Villa       Man City      1     0

[438 rows x 4 columns]

In [9]:
import statsmodels.api as sm
import statsmodels.formula.api as smf
formula = 'goals ~ team + opponent + home'
model = smf.glm(formula=formula, data=df, family=sm.families.Poisson()).fit()
print(model.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                  goals   No. Observations:                  438
Model:                            GLM   Df Residuals:                      398
Model Family:                 Poisson   Df Model:                           39
Link Function:                    Log   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -611.15
Date:                Thu, 02 Mar 2023   Deviance:                       454.99
Time:                        02:32:30   Pearson chi2:                     380.
No. Iterations:                     5   Pseudo R-squ. (CS):             0.2575
Covariance Type:            nonrobust
==============================================================================================
                                 coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------------------
Intercept                      0.1614      0.286      0.563      0.573      -0.400       0.723
team[T.Aston Villa]           -0.6248      0.247     -2.528      0.011      -1.109      -0.140
team[T.Bournemouth]           -0.8417      0.269     -3.131      0.002      -1.368      -0.315
team[T.Brentford]             -0.3043      0.225     -1.354      0.176      -0.745       0.136
team[T.Brighton]              -0.1660      0.219     -0.758      0.448      -0.595       0.263
team[T.Chelsea]               -0.7243      0.257     -2.822      0.005      -1.227      -0.221
team[T.Crystal Palace]        -0.8422      0.269     -3.134      0.002      -1.369      -0.315
team[T.Everton]               -1.0704      0.291     -3.673      0.000      -1.642      -0.499
team[T.Fulham]                -0.3763      0.227     -1.656      0.098      -0.822       0.069
team[T.Leeds]                 -0.5162      0.241     -2.145      0.032      -0.988      -0.045
team[T.Leicester]             -0.2803      0.224     -1.253      0.210      -0.719       0.158
team[T.Liverpool]             -0.2485      0.228     -1.091      0.275      -0.695       0.198
team[T.Man City]               0.1058      0.200      0.529      0.597      -0.286       0.497
team[T.Man United]            -0.2574      0.222     -1.161      0.246      -0.692       0.177
team[T.Newcastle]             -0.3548      0.226     -1.571      0.116      -0.797       0.088
team[T.Nott'm Forest]         -1.0647      0.285     -3.736      0.000      -1.623      -0.506
team[T.Southampton]           -0.9564      0.279     -3.424      0.001      -1.504      -0.409
team[T.Tottenham]             -0.1527      0.216     -0.708      0.479      -0.576       0.270
team[T.West Ham]              -0.9210      0.274     -3.360      0.001      -1.458      -0.384
team[T.Wolves]                -1.0295      0.285     -3.609      0.000      -1.589      -0.470
opponent[T.Aston Villa]        0.5272      0.293      1.796      0.072      -0.048       1.102
opponent[T.Bournemouth]        0.7954      0.281      2.829      0.005       0.244       1.346
opponent[T.Brentford]          0.3935      0.303      1.301      0.193      -0.199       0.986
opponent[T.Brighton]           0.4011      0.304      1.320      0.187      -0.194       0.997
opponent[T.Chelsea]            0.1380      0.319      0.432      0.665      -0.488       0.764
opponent[T.Crystal Palace]     0.4340      0.300      1.449      0.147      -0.153       1.021
opponent[T.Everton]            0.4249      0.303      1.400      0.161      -0.170       1.020
opponent[T.Fulham]             0.4018      0.300      1.341      0.180      -0.185       0.989
opponent[T.Leeds]              0.6506      0.287      2.267      0.023       0.088       1.213
opponent[T.Leicester]          0.6784      0.287      2.360      0.018       0.115       1.242
opponent[T.Liverpool]          0.4480      0.303      1.477      0.140      -0.146       1.042
opponent[T.Man City]           0.1907      0.318      0.599      0.549      -0.433       0.815
opponent[T.Man United]         0.2861      0.305      0.939      0.348      -0.311       0.883
opponent[T.Newcastle]         -0.3895      0.365     -1.067      0.286      -1.105       0.326
opponent[T.Nott'm Forest]      0.6135      0.289      2.122      0.034       0.047       1.180
opponent[T.Southampton]        0.7409      0.285      2.597      0.009       0.182       1.300
opponent[T.Tottenham]          0.4784      0.293      1.634      0.102      -0.096       1.052
opponent[T.West Ham]           0.3701      0.306      1.211      0.226      -0.229       0.969
opponent[T.Wolves]             0.4618      0.298      1.549      0.121      -0.123       1.046
home                           0.3372      0.083      4.057      0.000       0.174       0.500
==============================================================================================

In [10]:
def predict_match(model, homeTeam, awayTeam, max_goals=10):
    home_goals = model.predict(pd.DataFrame(data={'team': homeTeam,
                                                  'opponent':awayTeam,
                                                  'home': 1},
                                            index=[1])).values[0]
    away_goals = model.predict(pd.DataFrame(data={'team': awayTeam,
                                                  'opponent': homeTeam,
                                                  'home':0},
                                            index=[1])).values[0]
    pred = [[poisson.pmf(i, team_avg) for i in range(0, max_goals+1)] for team_avg in [home_goals, away_goals]]
    return(np.outer(np.array(pred[0]), np.array(pred[1])))

In [11]:
print(model.predict(pd.DataFrame(data={'team': 'Arsenal', 'opponent': 'Man City', 'home':1}, index=[1])))

1    1.992139
dtype: float64

In [12]:
print(model.predict(pd.DataFrame(data={'team': 'Man City', 'opponent': 'Arsenal', 'home':0}, index=[1])))

1    1.306237
dtype: float64

In [13]:
ars_man = predict_match(model, 'Arsenal', 'Man City', max_goals=3)

In [15]:
np.sum(np.tril(ars_man, -1)) * 100
# 40.23456259724963
# victory for Man City
np.sum(np.triu(ars_man, 1)) * 100
# 20.34309498981432
# a draw
np.sum(np.diag(ars_man)) * 100

21.36989057716443